body{color:#333333;font-size:12px;}
a{color:#777777;}
a:hover,
.vertnav li.current > a{color:#00a9c7;}
.wrapper{border-top-color:transparent;background-repeat:no-repeat;background-attachment:scroll;background-position:center top;}
.page{}
.header-container{background-color:;}
.header{background-color:;}
.header a{}
.header a:hover{}
#nav ul.level0,
#nav ul,
#mini-cart .block-content,
.truncated .truncated_full_value .item-options,
.dropdown-button:hover .inner,
.dropdown-button ul{background-color:#ffffff;color:#333333;}
#nav ul li a,
#mini-cart .block-content a,
.dropdown-button ul a{color:#929292;}
#nav ul li a:hover,
#mini-cart .block-content a:hover,
.dropdown-button ul a:hover{color:#00a9c7;}
#mobnav{background-color:rgba(1, 75, 1, 0.7);color:#3c3c3c;width:20%;}
#mobnav-trigger{color:#3c3c3c;}
#mobnav-trigger:hover{background-color:#c4c2c2;color:#3c3c3c;}
#mobnav-trigger.active{background-color:#c4c2c2;color:#3c3c3c;}
#mobnav-trigger .icon .line{background-color:#3c3c3c;}
#mobnav-trigger:hover .icon .line{background-color:#3c3c3c;}
#mobnav-trigger.active .icon .line{background-color:#3c3c3c;}
.nav{}
#nav,
.vertnav-top li a{background-color:transparent;color:#3c3c3c;}
#nav > li > a{color:#3c3c3c;}
#nav > li:hover > a,
.vertnav-top li > a:hover{background-color:#c4c2c2;color:#3c3c3c;}
.cms-index-index #nav #nav-home-link > a,
#nav > li.active > a,
.vertnav-top li.current > a{background-color:#c4c2c2;color:#3c3c3c;}
#nav,
.vertnav-top{border-bottom:5px solid #c4c2c2;}
#nav > li{border-bottom:5px solid transparent;margin-bottom:-5px;}
#nav ul.level0{top:54px;}
.vertnav-top > li.first > a{margin-top:1px;}
.vertnav-top li a{margin-bottom:1px;}
.vertnav-top{background-color:#dddddd;}
.vertnav-top li .opener{background:url(../../images/img/opener.png) center center no-repeat;}
.vertnav-top li:hover > .opener{background-image:url(../../images/img/opener-w.png);}
.vertnav-top li:hover > .opener:hover{background-image:url(../../images/img/opener.png);}
.vertnav-top li.active > .opener{background-image:url(../../images/img/opener-active.png);}
.vertnav-top li.active:hover > a:hover + .opener{background-image:url(../../images/img/opener-active-w.png);}
.vertnav-top li.active:hover > a + .opener:hover{background-image:url(../../images/img/opener-active.png);}
.vertnav-top li.current > .opener,
.vertnav-top li.current > .opener:hover{background-image:url(../../images/img/opener-w.png);}
.vertnav-top li.active.current > a + .opener,
.vertnav-top li.active.current:hover > a + .opener{background-image:url(../../images/img/opener-active-w.png);}
.vertnav-top li.active.current > a + .opener:hover{background-image:url(../../images/img/opener-active-w.png);}
.main-container{}
.main{background-color:#ffffff;}
.footer-container{background:#135c00;box-shadow:inset 0 0 5px #000;color:#fff;}
.footer{color:#fff;font-family:Georgia;}
.footer a{color:#fff;}
.footer a:hover{}
.footer-top-container{background-color:#dedede;}
.footer-top{}
.footer-top a{}
.footer-top a:hover{}
.footer-primary-container{}
.footer-primary{background-color:transparent;}
.footer-primary a{}
.footer-primary a:hover{}
button.button span{}
button.button:hover span{background-color:#5bd2ec;color:#333333;}
.product-view .btn-cart span,
button.btn-checkout span{background-color:#333333;color:#ffffff;}
.product-view .btn-cart:hover span,
button.btn-checkout:hover span{background-color:#5bd2ec;color:#333333;}
.feature div.icon{background-color:#135c00;}
.feature:hover div.icon{background-color:#5bd2ec;}
.links a:hover{background-color:#333333;color:#ffffff;}
.price-box .price{color:#FF0303;font-weight:700;font-size:17px;}
.sticker.new{background-color:#5bd2ec;color:#ffffff;}
.sticker.sale{background-color:#f12b63;color:#ffffff;}
.social-links a{background-color:#135c00;}
.social-links a:hover{background-color:#6a3704;}
h1,
h2,
.section-title,
.products-list .product-name,
.products-grid .product-name,
h3.product-name,
#mobnav-trigger,
#nav > li > a,
#nav.wide ul.level0 > li > a,
.vertnav-top li a,
.block .block-title,
#opc-login h3,
.box-account .box-head h2,
.order-items h2.table-caption,
.order-items h2.sub-title,
.order-items .order-comments h2,
.product-view .box-reviews dt .heading,
.footer .heading,
.slide .caption h2,
.slide .caption h3,
.main-font{font-family:Oswald, georgia, serif;}