<?xml version="1.0"?>
<config>
    <modules>
        <AW_Activitystream>
            <version>1.0.2</version><platform>ce</platform>
        </AW_Activitystream>
    </modules>
    <crontab>
        <jobs>
            <aw_activitystream_clean>
                <run>
                    <model>activitystream/cron::streamClean</model>
                </run>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
            </aw_activitystream_clean>
        </jobs>
    </crontab>
    <global>
        <helpers>
            <activitystream>
                <class>AW_Activitystream_Helper</class>
            </activitystream>
        </helpers>
        <models>
            <activitystream>
                <class>AW_Activitystream_Model</class>
                <resourceModel>activitystream_resource</resourceModel>
            </activitystream>
            <activitystream_resource>
                <class>AW_Activitystream_Model</class>
                <entities>
                    <activity>
                        <table>aw_activitystream_activity</table>
                    </activity>
                </entities>
            </activitystream_resource>
        </models>
        <blocks>
            <activitystream>
                <class>AW_Activitystream_Block</class>
            </activitystream>
        </blocks>
        <resources>
            <activitystream_setup>
                <setup>
                    <module>AW_Activitystream</module>
                </setup>
            </activitystream_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <activitystream>
                                            <title>aheadWorks - Activity Stream</title>
                                        </activitystream>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <tag_save_after>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>tagSaveAfter</method>
                    </activitystream_observer>
                </observers>
            </tag_save_after>
            <review_save_before>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>reviewSaveBefore</method>
                    </activitystream_observer>
                </observers>
            </review_save_before>
        </events>
        <layout>
            <updates><activitystream><file>activitystream.xml</file></activitystream></updates>
        </layout>
        <translate>
            <modules>
                <AW_Activitystream>
                    <files><default>AW_Activitystream.csv</default></files>
                </AW_Activitystream>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_postdispatch_newsletter_subscriber_new>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>controllerActionPostdispatchNewsletterSubscriberNew</method>
                    </activitystream_observer>
                </observers>
            </controller_action_postdispatch_newsletter_subscriber_new>
            <customer_save_before>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>customerSaveBefore</method>
                    </activitystream_observer>
                </observers>
            </customer_save_before>
            <customer_save_after>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>customerSaveAfter</method>
                    </activitystream_observer>
                </observers>
            </customer_save_after>
            <customer_login>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>customerLogin</method>
                    </activitystream_observer>
                </observers>
            </customer_login>
            <controller_action_postdispatch_catalogsearch_result_index>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>controllerActionPostdispatchCatalogsearchResultIndex</method>
                    </activitystream_observer>
                </observers>
            </controller_action_postdispatch_catalogsearch_result_index>
            <controller_action_predispatch_catalogsearch_advanced_result>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>controllerActionPredispatchCatalogsearchAdvancedResult</method>
                    </activitystream_observer>
                </observers>
            </controller_action_predispatch_catalogsearch_advanced_result>
            <catalog_controller_product_view>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>catalogControllerProductView</method>
                    </activitystream_observer>
                </observers>
            </catalog_controller_product_view>
            <controller_action_predispatch_catalog_category_view>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>controllerActionPostdispatchCatalogCategoryView</method>
                    </activitystream_observer>
                </observers>
            </controller_action_predispatch_catalog_category_view>
            <catalog_product_compare_add_product>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>catalogProductCompareAddProduct</method>
                    </activitystream_observer>
                </observers>
            </catalog_product_compare_add_product>
            <wishlist_item_save_before>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>wishlistItemSaveBefore</method>
                    </activitystream_observer>
                </observers>
            </wishlist_item_save_before>
            <wishlist_item_save_after>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>wishlistItemSaveAfter</method>
                    </activitystream_observer>
                </observers>
            </wishlist_item_save_after>
            <sales_quote_add_item>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>salesQuoteAddItem</method>
                    </activitystream_observer>
                </observers>
            </sales_quote_add_item>
            <checkout_cart_save_after>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>checkoutCartSaveAfter</method>
                    </activitystream_observer>
                </observers>
            </checkout_cart_save_after>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>controllerActionPredispatchCheckoutCartIndex</method>
                    </activitystream_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>controllerActionPredispatchCheckoutOnepageIndex</method>
                    </activitystream_observer>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_predispatch_checkout_multishipping_index>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>controllerActionPredispatchCheckoutOnepageIndex</method>
                    </activitystream_observer>
                </observers>
            </controller_action_predispatch_checkout_multishipping_index>
            <sales_order_save_before>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>salesOrderSaveBefore</method>
                    </activitystream_observer>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>salesOrderSaveAfter</method>
                    </activitystream_observer>
                </observers>
            </sales_order_save_after>
            <!-- AW_Advacnednewsletter start -->
            <controller_action_predispatch_advancednewsletter_index_updateStatus>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>controllerActionPredispatchAdvancednewsletterSubscribe</method>
                    </activitystream_observer>
                </observers>
            </controller_action_predispatch_advancednewsletter_index_updateStatus>
            <controller_action_postdispatch_advancednewsletter_index_updateStatus>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>controllerActionPostdispatchAdvancednewsletterSubscribe</method>
                    </activitystream_observer>
                </observers>
            </controller_action_postdispatch_advancednewsletter_index_updateStatus>
            <controller_action_predispatch_advancednewsletter_index_subscribe>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>controllerActionPredispatchAdvancednewsletterSubscribe</method>
                    </activitystream_observer>
                </observers>
            </controller_action_predispatch_advancednewsletter_index_subscribe>
            <controller_action_postdispatch_advancednewsletter_index_subscribe>
                <observers>
                    <activitystream_observer>
                        <class>activitystream/observer</class>
                        <method>controllerActionPostdispatchAdvancednewsletterSubscribe</method>
                    </activitystream_observer>
                </observers>
            </controller_action_postdispatch_advancednewsletter_index_subscribe>
            <!-- AW_Advacnednewsletter end -->
        </events>
        <layout>
            <updates><activitystream><file>activitystream.xml</file></activitystream></updates>
        </layout>
        <routers>
            <activitystream>
                <use>standard</use>
                <args>
                    <module>AW_Activitystream</module>
                    <frontName>activitystream</frontName>
                </args>
            </activitystream>
        </routers>
        <translate>
            <modules>
                <AW_Activitystream>
                    <files><default>AW_Activitystream.csv</default></files>
                </AW_Activitystream>
            </modules>
        </translate>
    </frontend>
    <default>
        <activitystream>
            <general>
                <module_enabled>0</module_enabled>
                <visible_to_guests>1</visible_to_guests>
            </general>
            <live_stream_overlay>
                <position></position>
                <number_of_activities_to_display>5</number_of_activities_to_display>
                <outer_rectangle_width>500</outer_rectangle_width>
                <background_color>#203548</background_color>
                <text_color>#FFFFFF</text_color>
                <link_color>#EBBC58</link_color>
                <background_opacity>50</background_opacity>
                <update_period>3</update_period>
                <activity_store_filter>storeview</activity_store_filter>
            </live_stream_overlay>
            <activity_types>
                <customer_subscribes_to_newsletter>{Name} has subscribed to newsletter</customer_subscribes_to_newsletter>
                <new_customer_is_registered>{Name} has registered</new_customer_is_registered>
                <customer_is_signed_in>{Name} has logged in. Hello {Name}!</customer_is_signed_in>
                <searching_is_performed>{Name} searches for {search_term}</searching_is_performed>
                <product_is_viewed>{Name} views product {Product_title}</product_is_viewed>
                <category_is_viewed>{Name} views category {Category_title}</category_is_viewed>
                <item_is_added_for_comparison>{Name} adds {Product_title} to comparison list</item_is_added_for_comparison>
                <item_is_added_to_wishlist>{Name} adds {Product_title} to wishlist</item_is_added_to_wishlist>
                <item_is_added_to_shopping_cart>{Name} puts {Product_title} into shopping cart</item_is_added_to_shopping_cart>
                <customer_views_shopping_cart>{Name} views shopping cart</customer_views_shopping_cart>
                <customer_proceeds_to_checkout>{Name} proceeds to checkout</customer_proceeds_to_checkout>
                <product_is_purchased>{Name} purchases {Product_title}</product_is_purchased>
                <product_tag_is_added>{Name} adds {tag} tag to {Product_title}</product_tag_is_added>
                <review_is_added>{Name} submits a review on {Product_title}</review_is_added>
            </activity_types>
        </activitystream>
    </default>
</config>