<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Sociallogin>
            <version>0.1.3</version>
        </Magestore_Sociallogin>
    </modules>
    <frontend>
        <routers>
            <sociallogin>
                <use>standard</use>
                <args>
                    <module>Magestore_Sociallogin</module>
                    <frontName>sociallogin</frontName>
                </args>
            </sociallogin>
        </routers>
        <layout>
            <updates>
                <sociallogin>
                    <file>sociallogin.xml</file>
                </sociallogin>
            </updates>
        </layout>
		<events>
			<customer_login>
				<observers>
					<Magestore_Sociallogin_observer>
						<type>singleton</type>
						<class>sociallogin/observer</class>
						<method>customer_login</method>
					</Magestore_Sociallogin_observer>
		       </observers>				
			</customer_login>
		</events>
    </frontend>
    <admin>
        <routers>
			<sociallogin>
				<use>admin</use>
				<args>
					<module>Magestore_Sociallogin</module>
					<frontName>sociallogin</frontName>
				</args>
			</sociallogin>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<sociallogin translate="title">
											<title>Social Login</title>
											<sort_order>50</sort_order>
										</sociallogin>									
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>	
		<layout>
			<updates>
				<sociallogin>
					<file>sociallogin.xml</file>
				</sociallogin>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_adminhtml>
				<observers>
					<Magestore_Sociallogin_observer>
						<type>singleton</type>
						<class>sociallogin/observer</class>
						<method>controller_action_predispatch_adminhtml</method>
					</Magestore_Sociallogin_observer>
		       </observers>				
			</controller_action_predispatch_adminhtml>
		</events>			
    </adminhtml>   
    <global>
        <models>
            <sociallogin>
                <class>Magestore_Sociallogin_Model</class>
                <resourceModel>sociallogin_mysql4</resourceModel>
            </sociallogin>
            <sociallogin_mysql4>
                <class>Magestore_Sociallogin_Model_Mysql4</class>
                <entities>
                    <customer>
                        <table>twlogin_customer</table>
                    </customer>
                </entities>
            </sociallogin_mysql4>
        </models>
        <resources>
            <sociallogin_setup>
                <setup>
                    <module>Magestore_Sociallogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sociallogin_setup>
            <sociallogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sociallogin_write>
            <sociallogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sociallogin_read>
        </resources>
        <blocks>
            <sociallogin>
                <class>Magestore_Sociallogin_Block</class>
            </sociallogin>
        </blocks>
        <helpers>
            <sociallogin>
                <class>Magestore_Sociallogin_Helper</class>
            </sociallogin>
        </helpers>
    </global>
	
	<default>
		<sociallogin>
			<general>
				<is_active>1</is_active>
				<position>header,before-customer-login,before-customer-registration</position>
				<direction>right</direction>
			</general>
			<twlogin>	
				<is_active>1</is_active>
				<connecting_notice><![CDATA[If you have a account on {{store}}, please login else register a new account to connect twitter account]]></connecting_notice>
			</twlogin>
			<yalogin>	
				<is_active>1</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
			</yalogin>
			<gologin>	
				<is_active>1</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
			</gologin>
			<fblogin>	
				<is_active>1</is_active>
				<is_send_password_to_customer>0</is_send_password_to_customer>
			</fblogin>
		</sociallogin>
	</default>
</config>