<?xml version="1.0"?>
<config>
    <modules>
        <ParadoxLabs_Requestsample>
            <version>1.0.3.1</version>
        </ParadoxLabs_Requestsample>
    </modules>
    <frontend>
        <routers>
            <requestsample>
                <use>standard</use>
                <args>
                    <module>ParadoxLabs_Requestsample</module>
                    <frontName>requestsample</frontName>
                </args>
            </requestsample>
        </routers>
        <layout>
            <updates>
                <requestsample>
                    <file>requestsample.xml</file>
                </requestsample>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <requestsample>
                <class>ParadoxLabs_Requestsample_Model</class>
                <resourceModel>requestsample_mysql4</resourceModel>
            </requestsample>
            <requestsample_mysql4>
                <class>ParadoxLabs_Requestsample_Model_Mysql4</class>
                <entities>
                    <requestsample>
                        <table>requestsample</table>
                    </requestsample>
                </entities>
            </requestsample_mysql4>
        </models>
        <resources>
            <requestsample_setup>
                <setup>
                    <module>ParadoxLabs_Requestsample</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </requestsample_setup>
            <requestsample_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </requestsample_write>
            <requestsample_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </requestsample_read>
        </resources>
        <blocks>
            <requestsample>
                <class>ParadoxLabs_Requestsample_Block</class>
            </requestsample>
        </blocks>
        <helpers>
            <requestsample>
                <class>ParadoxLabs_Requestsample_Helper</class>
            </requestsample>
        </helpers>
    </global>
    <default>
        <contacts>
            <requestsample>
                <send_to><![CDATA[hello@example.com]]></send_to>
                <redirect_to><![CDATA[/requestsample/?thanks]]></redirect_to>
            </requestsample>
        </contacts>
    </default>
</config>